@charset "utf-8";
.dialog
{
	background: #336666 url(./i/dialog.png) repeat-x left top;
}

.dialog .bar
{
    color:#ffffff;
}

.dialog-max
{
	background: #336666 url(./i/dialog.png) repeat-x left top;
}

.dialog-max .bar
{
    color:#ffffff;
}

.dialog-fullscreen
{
   	background: #336666 url(./i/dialog.png) repeat-x left top;
}






.dialogPlugin
{
	background: #336666 url(./i/dialog.png) repeat-x left top;
}

.dialogPlugin .bar
{
    color:#ffffff;
}

.dialogPlugin-max
{
	background: #336666 url(./i/dialog.png) repeat-x left top;
}

.dialogPlugin-max .bar
{
    color:#ffffff;
}

.dialogPlugin-fullscreen
{
   	background: #336666 url(./i/dialog.png) repeat-x left top;
}